* {
	--text: #3e3e3e;
	--background: #f5eee5;
	--primary: #194d2e;
	--secondary: #4e6e52;
	--accent: #e8dfca;
	--button-text: #eaefe4;

}

.pages-container{
	height: 100vh;
	padding: 20px;
	background-color: var(--background);
}